

<launch>

    <param name="use_sim_time" value="true" />

    <!-- bag的地址与名称 -->
    <arg name="bag_filename" default="/home/touchair/kaist_urban_dataset/urban08/bag/kaist_16_ring.bag"/>

    <!-- 使用bag的时间戳 -->

    <!-- 启动节点 -->
    <node name="odom_imu_node" pkg="odom_imu_node" type="odom_imu_node_odom_imu_node" output="screen" >
         <rosparam file="$(find odom_imu_node)/config/odom_imu.yaml" command="load"/>
    </node>


    <!-- launch rviz -->
    <node name="rviz" pkg="rviz" type="rviz" required="true"
        args="-d $(find odom_imu_node)/config/odom_imu.rviz" />

    <!-- play bagfile -->
    <node name="playbag" pkg="rosbag" type="play" args="--clock $(arg bag_filename)" />

</launch>
