<launch>

    <arg name="bag_filename" default="/home/trunk/0-ws/Learning_localization_from_scratch_ws/urban08.bag"/>

    <param name="use_sim_time" value="true" />
    
    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Navsat -->
    <!-- <include file="$(find lio_sam)/launch/include/module_navsat.launch" /> -->

    <!--- Run Navsat -->
    <node pkg="lio_sam" type="lio_sam_gpsOdometry" name="lio_sam_gpsOdometry"/>

    <!--- Run Rviz-->
    <include file="$(find lio_sam)/launch/include/module_rviz.launch" />

     <!-- play bagfile -->
    <node name="playbag" pkg="rosbag" type="play" args="--clock --bags $(arg bag_filename)" />

</launch>
