<?xml version="1.0"?>
<launch>

  <param name="robot_description" textfile="$(find kaist_description)/urdf/urban08.urdf" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
		<param name="publisher_frequency" type="double" value="100.0"/>
	</node>
  
  <node pkg="rviz" type="rviz" name="rviz" output="screen" required="true"
  args="-d $(find kaist_description)/rviz/kaist.rviz" />
</launch>
